.Account-Order-History{
    cursor: pointer;
}
.Account-Order-History a{
    text-decoration: none;
}
.Account-Order-History .img-boreder-profile{
    border-radius: 50%;
    border:1px solid black;
}
/* .Account-Order-History dashbord*/
.Account-Order-History .profile-orderhistory{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.Account-Order-History .profile-col-sidebar{
    margin-top: -100px;
}
.Account-Order-History .sidebar-li{
    list-style: none;
    margin-left:-30px !important;
}
.ToolTip-img{
        display: inline-block;
        padding: 0.25em 0.625em;
        font-size: 0.75em;
        font-weight: normal;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0.175rem;
}
.Account-Order-History .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color:#fe696a !important;
    background-color: #fff !important;
}
/* badge */
.Account-Order-History .bg-info{
    background-color: #0dcaf0 !important;
}
.Account-Order-History .bg-danger{
    background-color: #f34770 !important;
}
.Account-Order-History .bg-warning{
    background-color:  #fea569 !important;
}
.Account-Order-History .bg-success{
    background-color: #42d697 !important;
}
.Account-Order-History .bg-secondary{
    background-color: #f3f5f9 !important;
}
/* paggination */
.Account-Order-History .order-page.active .page-link {
    background-color:#fe696a !important;
    border-color: #fe696a !important;
    border-radius: 8px;
}
.Account-Order-History .order-page:not(:first-child) .page-link {
    margin-left: -1px;
}
.Account-Order-History .pagination .page-link {
    border-radius: 0.3125rem;
    font-size: .9375rem;
    margin-left: 5px;
}
.Account-Order-History .page-link {
    position: relative;
    transition: color .25s ease-in-out,border-color .25s ease-in-out,background-color .25s ease-in-out;
}
.Account-Order-History .page-link {
    padding: 0.3125rem 0.75rem;
    border: none !important;
    box-shadow: none !important;
}
.Account-Order-History .page-link:hover{
    color:#fff;
}
/* wishlist */
.Account-Order-History .wishlist-img{
    width:150px;
    height:150px;
}
.Account-Order-History .product-order-wishlist h3{
    font-size: 17px;
}
.Account-Order-History .product-order-wishlist span{
    font-size: 14px;
}
.Account-Order-History .profiletab-img{
    width:100px;
    height:100px;
}
.Account-Order-History .profiletab-img-card{
    width:50px;
    height:30px;
}
.card-img-pay{
    width: 30px;
    height: 20px;
}
.Account-Order-History .trash-wishlist{
position: relative;
top: 50%;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}
/* modal focus color /form focus */
.closemodal{
    float:right;
}
.closeModal_Submit{
    margin-left: 20px;
    padding: 10px 25px;
    border-radius: 7px;
}
.Account-Order-History,.form-control:focus {
    color: #4b566b !important;
    background-color: #fff !important;
    border-color: #ffb4b5 !important;
    outline: 0 !important;
    box-shadow: none !important;
}
.Account-Order-History, .form-label {
    margin-bottom: 0.375rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: #373f50;
}
@media only screen and (min-width:320px) and (max-width: 768px) {
    .ListSort{
       margin-bottom: 2.5rem !important;
    }
    .signoutbtn{
        margin-bottom: 3.5rem !important;
    }
   
}
.top{
    background-color: #363e4e;
}
.text-errormsg{
    color:#fe696a !important;
    font-size: 12px;
    text-transform: capitalize;
}