.banner-home{
    background-color: #f4f9fb;
}
.banner-home .card{
    margin-top: 25px;
    border: none;
    padding: 3px;
    background-color: #0089ff0d;
}
.banner-home .card .card-align-pro{
    text-align: left !important;
}
.banner-home .card-for-bg{
    background-color: #fbe9e78a;
}
.Home-Banner-Caroucel-Text {
    text-align: left;
    padding-left: 80px !important;
}
.Home-Banner-Caroucel-Text .Banner-Carousel-Heading{
    font-size: 32px;
    line-height: 55px;
}
.Home-Banner-Caroucel-Text .Banner-Carousel-Bold{
    font-size: 50px;
}
.Home-Banner-Caroucel-Text .Banner-Caroucel-text{
    font-size: 22px;
    font-weight: 300;
}
.Home-Banner-Caroucel-Text button{
    border: none;
    margin-top: 20px;
    background-color: #fe3638;
    color: white;
    padding: 10px 25px;
    border-radius: 7px;
}

.banner-home .owl-theme .owl-dots .owl-dot.active span {
    background: #ff5722 !important;
    width: 15px !important;
    height: 4px !important;
}

.banner-home .owl-theme .owl-dots .owl-dot span {
    width: 6px !important;
    height: 6px !important;
}