.checkout-details-body{
    margin-top: -80px;
}
.bg-details-profile{
    background-color: #f4f9fb;
}
.bg-orange{
background-color: rgb(255, 115, 0);
}
.checkout-profile-name{
    font-size: 1rem;
}
.btn-edit{
    background-color: white;
    border-color: white;
}
.form-check-input:checked {
    background-color: #fe696a;
    border-color: #fe696a;
}
a{
    text-decoration: none;
    cursor: pointer;
}
.Button-Full-Red .fa{
    font-size: 20px;
}
.btn-Gray .fa{
    font-size: 20px;
}
.form-control:focus {
    border-color: red;
    box-shadow: none;
}
.error-msg{
    font-size: 12px;
    color: red;
}
.Check-out-product-title{
    color: black;
}
.Check-out-product-body{
    text-align: left;
}
.fs-text-COD{
font-size: 15px;
}
.SM-table-heading{
    font-weight: 500;
    font-size: 14px;
}
.SM-Address-D{
    font-size: 14px;
    font-weight: 500;
}
.Credit-card-design .card{
    background-color: #dadada;
    border: none;
    padding: 25px;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////try */
.Minus-margin{
    margin-top: -80px;
}
.title-text-color{
    color: #373f50;
}
.title-text-color:hover{
    color: #fe696a;
}
