.border-0 {
    border: 0 !important;
}
.shadow-lg {
    box-shadow: 0 0.3rem 1.525rem -0.375rem rgb(0 0 0 / 10%) !important;
}
.card-order{
    border: none !important;
    list-style: none !important;
}
.card-body {
     flex: 1 1 auto;
    padding: 1.25rem 1.25rem;
}
.back-circle-order {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back-circle-order i {
    font-weight: 900;
    font-size: 25px;
}
.text-order-active:active,.text-order-active:focus{
    color: #fe696a;
}
.active-card{
    background-color: #fe696a;
}
.product-img-ordertrack{
    width: 100px;
    height: 100px;
}
/* .btn-view-order{
    transition: color .25s ease-in-out;
    background-color: #fe696a;
    border-color: #fe3638;
}
.btn-view-order:hover{
    border-color: #fe3638;
    background-color: #fe3638;
    box-shadow: none !important;
} */
