.Compare .heading-table-compare {
    background-color: #f6f9fc !important;
}

.Compare .product-name {
    color: #000;
    text-decoration: none;
}

.Compare .product-name:hover {
    color: #fe696a;
}

.Compare th {
    font-size: 15px;
    font-weight: 600;
    padding: 11px 10px;
}

.Compare .compare-crite {
    width: 250px;
    border-color: #a6aab080;

}

.Compare .compare-crite:hover {
    border-color: #fe696a;
}

.Compare td {
    width: 250px;
}
/* skeleton */
.skeleton-loader-background{
  width:100px;
  height:100px;
  display: block;
  background: lightgray; 
}