body{
 margin: 0;
 padding: 0;
}
.bg-faded-orange{
  background-color: #fe696a17 !important;
}
.bg-faded-indigo{
  background-color: #4e54c817 !important;
}
.text-orange{
  color: #ff5722;
}
.text-indigo{
  color: #4e54c8 !important;
}