body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}
#loader {
  overflow-y: hidden;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('./assets/images/loader.gif') 50% 50% no-repeat rgb(255, 255, 255);
  /* opacity: .9; */
}
.bg-indigo{
  background-color: indigo;
}
.bg-faded-orange {
  background-color: #fe696a17 !important;
}

.bg-faded-indigo {
  background-color: #4e54c817 !important;
}

.bg-faded-green {
  background-color: #42d69717 !important;
}

.text-orange {
  color: #ff5722;
}

.text-indigo {
  color: #4e54c8 !important;
}

.text-green {
  color: #42d697;
}

hr{
  background-color: grey !important;
  height: 0.1px !important;
}
/* Button1 */
.btn-check:focus + .btn, .btn:focus { 
  box-shadow: none !important;
}
.Button-Red-Border{
  color: #fe696a !important;
  border-color: #fe696a !important; 
  font-weight: 400;
}
.Button-Red-Border:hover{
  color: white !important;
  border-color: #fe696a !important;
  background-color: #fe696a !important;
}
/* Button2 */
.Button-Full-Red {
  border:none;
  opacity: 0.9;
  background-color: #fe3638;
  color: white;
  padding: 10px 25px;
  border-radius: 7px;
  box-shadow: 0 0.5rem 1.125rem -0.5rem rgb(254 105 106 / 90%);
}
.Button-Full-Red:hover{
  opacity: 1;
  box-shadow: none;
}
/* Button3 */
.Button-Blue-Border{
  color: #4e54c8 !important;
    border-color: #4e54c8 !important;
  font-weight: 400;
}
.Button-Blue-Border:hover{
    color: #fff !important;
    background-color: #4e54c8;
    border-color: #4e54c8;
}

.form-select:focus , .form-check-input:focus {
  outline: 0;
  box-shadow: none !important;
}